html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #000000;
}
.standings-container {
  background: url("../public/back1.Jpeg");
  background-size: 1500px;
  background-size: 1500px;
  background-position: left;

  opacity: 0.9;
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.overlay {
  z-index: 999;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 60px;
}

input {
  width: 50px;
}

.teamName input {
  width: 200px;
}

.abrev input {
  width: 60px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(255, 248, 248);
    /* background: rgb(0, 0, 0); */
  }
}

.dev {
  border: 1px solid red;
}

.boarder-yelllow {
  border: 0.5px solid #464c51;
}

.match-card {
  /* width: 20%; */
  background-color: rgb(22, 21, 1);
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .match-card-team {
    width: 100% !important;
  }
}

.threeway-switch div {
  cursor: pointer;
  font-size: 9px;
  color: #000000;
  font-weight: 600;
  text-align: center;
}

div.is-disabled {
  pointer-events: none;
  opacity: 0.7;
}

.hand-pointer:hover {
  cursor: pointer;
}

.horizontal-center {
  margin-left: auto;
  margin-right: auto;
}
.vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (min-height: 600px) {
  .dashBoard-container {
    height: 100%;

    min-height: 700px;
  }
}
@media only screen and (min-width: 768px) {
  .dashBoard-container {
    height: 100%;

    min-height: 720px;
  }
}

.current-score-text-sm {
  font-size: 4em;
}
.current-score-text-lg {
  font-size: 8em;
}

.live-icon {
  width: 24px;
  height: 24px;
  mask: url(https://img.icons8.com/youtube-live) no-repeat center / contain;
  -webkit-mask: url(https://img.icons8.com/youtube-live) no-repeat center /
    contain;
}

.on-live {
  background-color: orange; /* defines the background color of the image */
}
.on-live:hover {
  background-color: rgb(236, 213, 77);
}

.offline {
  background-color: white;
}

.offline:hover {
  background-color: orange;
}

@media only screen and (min-height: 600px) {
  .form-group {
    width: 100%;
  }
  .form-group input {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .form-group {
    width: 500px;
  }
  .form-group input {
    width: 500px;
  }
}

.porfile-menu {
  left: -100px !important;
  background-color: #4d5154;
  border-color: #4d5154;
}

.porfile-menu .dropdown-item {
  color: white;
}

.porfile-menu .dropdown-item:hover {
  color: black;
}

.form-control {
  background-color: #212529;
  color: white;
}
.form-control:focus {
  background-color: #212529;
  color: white;
  border-color: white;
}
.update-grid table thead tr th {
  text-align: center;
  color: white;
}
.modal-container {
  position: fixed;
  inset: 0; /* inset sets all 4 values (top right bottom left) much like how we set padding, margin etc., */
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in;
  overflow: hidden;
  z-index: 999;
  padding: 40px 20px 20px;
}

.modal-container .modal-content {
  width: 700px;
  height: auto;
  min-height: 270px;
  background-color: #212529;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  position: absolute;
  top: 25vh;
  padding: 12px;
  border-radius: 0.3rem;
}

.modal-container .modal-content .modal-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.modal-container .modal-content .modal-header,
.modal-body,
.modal-footer {
  width: 100%;
}

/* .modal-container .modal-content .modal-header .close {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
} */

.form-select {
  background-color: #212529;
  color: white;
}
.form-select:hover {
  cursor: pointer;
}
.form-select:focus {
  background-color: #212529;
  color: white;
  border-color: white;
}

.form-select-item {
  background-color: #4d5154;
  color: white;
}
.form-select-item:hover {
  background-color: #e9ecef;
  color: black;
  cursor: pointer;
}
.form-select-item.form-select-item-selected {
  background-color: #e9ecef;
  color: black;
}

.league-in-view-update-btn:hover {
  cursor: pointer;
  border: 0.01px solid white;
}
.league-in-view-update-btn:focus {
  cursor: pointer;
  border: 0.01px solid white;
}
